# Site Configuration
title: "Nneka Okereke"
email: nnekaokereke7@gmail.com
description: "Project Coordinator delivering low-carbon tech projects | Solar, EV Chargers & Heat Pumps | Birmingham, UK"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://nnekaokereke.github.io" # the base hostname & protocol for your site

# Social
github_username: nnekaokereke
linkedin_username: nneka-okereke-62576212b
twitter_username: ""

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

